<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Taller Angular</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
        crossorigin="anonymous">
        <link rel="stylesheet" href="serie-list.component.css">
    </head>
    <body>
        <nav class="navbar" style="background-color:#24A2B8;">
        <div class="container.-fluid">
            <a class="navbar-brand" href="#">
            <img src="logo.jpg" width="30" height="30"  class="d-inline-block align-text-top">
                TV Series
            </a>
        </div>
        </nav>
        <section style="display:flex; gap: 30px; margin-top: 20px;">
            <table class="table table-bordered" style="width: fit-content; margin-left: 100px; margin-top: 2px;">
            <caption style="color: black;" id="caption-table"> {{ averageSeasons() }}</caption>
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Channel</th>
                <th scope="col">Seasons</th>
                </tr>
            </thead>
            <tbody id="body-table">
              <tr *ngFor="let s of series" (click)="showSerie(s)">
                <td>{{ s.id }}</td>
                <td style="color: blue;">{{ s.name }}</td>
                <td>{{ s.channel }}</td>
                <td>{{ s.seasons }}</td>
              </tr>
            </tbody>
            </table>
  
        <div  *ngIf="s" class="card" style="width: 18rem;border: none;" id="card-series">
          <img [src]=s.poster class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title"> {{s.name}} </h5>
              <p class="card-text"> {{s.description}} </p>
              <a href="s.webpage"> {{s.webpage}} </a>
          </div>
        
        </div>
        <script> var exports = {}; </script>
        <script src="data.js"></script>
        </section>
    </body>
</html>